# Node modules
node_modules/

# Build output
build/

# Dependency directories
npm-debug.log
package-lock.json

# Editor files
.vscode/

# React environment variables
.env

# OS-specific files
.DS_Store
